p {
  font-family: "Poppins", sans-serif;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  /* position: fixed; */
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  /* height: 71px; */
  padding: 10px 0;
}

.navbar {
  display: flex;
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.navbar__brand {
  width: 226px;
  
  display: flex;
  align-items: center;
  height: 42px;
}
.brandImg{
  width: 29%;
  height: 100%;
}

.brandImg > img {
  width: 100%;
  height: 100%;
}
.navbar__brand > p , .firstContent__top >p{
  margin: 0;
  /* width: 100%; */
  flex: 1;
  margin-left : 12px;
  font-family: 'Poppins';
  font-size: 2.7rem;
  color: #5a4848;
  font-weight: 500;
   
}

.navbar__brand > p > span , .firstContent__top >p > span{
  color: #908585;
}
.navbar__list {
  /* display: flex; */
  /* flex: 0; */
  width: 45%;
}

.navbar__list {
  display: flex;
  align-items: center;
  justify-content: space-betwe;
}

.navbar__list > ul {
  width: 100%;
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.navbar__list > ul > li {
  list-style: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.arrowBottom {
  margin-left: 7px;
}
.navbar__icons {
  width: 11%;
  font-size: 1.5rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.searchDiv {
  position: absolute;
  outline: none;
  background: #f9fafb;
 display: none;
  border: 1px solid #e9ecef;
  /* padding: 1rem; */
  width: 18%;
  height: 39px;
  top: 5rem;
  margin: 9p auto;
  right: 119px;
}

.searchform {
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  padding-left: 12px;
}

.searchform > input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.searchform > button {
  display: none;
}

.display{
  display: block !important;
}

.opacity {
  opacity: 1 !important;
}
.search,
.instagram,
.facebook,
.instagram,
.pintrest {
  display: flex;
  align-items: center;
}

.search {
  font-size: 20px;
}
.hamburger {
  display: none;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

.hoverEfect {
  opacity: 1 !important;

  top: 109% !important;
  transition: all 0.4s linear;
}

.productDisc {
  opacity: 0;
  position: absolute;
  background: #fff;
  top: 114%;
  margin-left: 9rem;
  width: 29%;
  transition: all 0.2s linear;
}

.productList {
  font-size: 1.7rem;
  width: 100%;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

.productList > li {
  cursor: pointer;
  width: 100%;
  list-style: none;
  padding: 8px;
}
.productList > li:hover {
  cursor: pointer;
  transition: all 0.3s linear;
  background: rgb(219, 214, 211);
}
@media (max-width: 480px) {
  .navbar__list {
    display: none;
  }
  .instagram,
  .facebook,
  .instagram,
  .pintrest {
    display: none;
  }
  .hamburger {
    font-size: 20px;
    margin-left: 6px;
    width: 39px;
    height: 38px;
    display: block;
  }

  .search {
    /* font-size: 18px; */
    width: 30px;
    height: 30px;
  }

  .search > svg,
  .hamburger > svg {
    width: 100%;
    height: 100%;
  }
  .navbar__brand {
    width: 228px;
    height: 51px;
  }
  .header {
    width: 100%;
    top: 0;
    position: sticky;
    background: rgb(255 255 255);
    z-index: 1;
    height: 71px;
    padding: 10px 0;
  }
  .navbar {
    display: flex;
    font-family: "Poppins", sans-serif;
    max-width: 1280px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 !important;
  }
  /* .navbar__icons > input {
  position: absolute;
  top: 52px;
  outline: none;
  left: auto;
  width: 350px;
  right: 5px;
  
  opacity: 0;
  border: 1px solid #e9ecef;
  padding: 1rem;
} */
  .searchDiv {
    position: absolute;
    outline: none;
    background: #f9fafb;
    display: none;
    border: 1px solid #e9ecef;
    /* padding: 1rem; */
    width: 96%;
    height: 51px;
    top: 7rem;
    margin: 0 7px;
   
    right: 0;
  }

 .shiftRight{
  left: 0 !important;
  transition: all .5s linear;
  margin-left: 0;
 }
.productDisc {
    opacity: 1;
    position: absolute;
    background: #fff;
    top: 114%;
    left: -200%;
    /* margin-left: 9rem; */
    width: 100%;
    transition: all .5s linear;
}
}
